#net {
    display: flex;
    justify-content: flex-start;
    background-color: black;
    color: white;
    padding-left: 20px;
}
#container {
    display: flex;
    justify-content: space-around;
}
.col1 {
    flex: 1;
    flex-direction: column;
}
.profile {
    height: 250px;
    width: 200px;
    border: 2px solid black;
    background-color: lightyellow;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
img {
    height: 75px;
    width: 75px;
}
.texthead {
    text-decoration: underline blue;
    color: blue;
}
.col2 {
    flex: 3;
    flex-direction: column;
}
#box {
    display: inline-block;
    width: 450px;
    height: 200px;
    border: 2px solid black;
    background-color: lightblue;
    margin: 10px;
    padding: 10px;
}
.line1 {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 5px 20px;
}
.line2 {
    display: flex;
    justify-content: center;
    border: 2px solid black;
}
.btn {
    padding: 3px 20px;
    background-color: gold;
    border: 2px solid black;
    box-shadow: 3px 3px 3px black;
    font-weight: bold;
}
