* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: lightblue;
}
.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}
#profile {
    margin-left: 40px;
    background-color: royalblue;
    padding: 5px 15px;
}
.span {
    color: goldenrod;
}
.title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.click {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
li {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
a {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-decoration: none;
    margin: 25px;
    color: whitesmoke;
    border: 1px solid royalblue;
    padding: 5px 10px;
    border-radius: 25%;
}
.signout {
    margin-right: 40px;
}
button {
    padding: 10px 35px;
    font-size: 15px;
    background-color: royalblue;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.line {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    font-family: futura;
}
.row2 {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin: 20px;
}
.big {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.card {
    width: 400px;
    height: 320px;
    background-color: darkslategrey;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin: 20px;
    overflow: hidden;
    font-family: Futura;
    border: 2px solid darkgrey;
}
.head {
    width: 400px;
    height: 65px;
    background-color: black;
    display: inline-block;
}
.photo {
    width: 80px;
    height: 80px;
    display: inline-block;
    margin: -40px 10px 10px 30px;
    border: 3px solid white;
    border-radius: 50%;
}
.name {
    display: inline-block;
    font-size: 30px;
    margin: 10px ;
    background-color: black;
    padding: 0px 55px;
    color: white;
}
.map {
    width: 15px;
    height: 20px;
    display: inline-block;
    margin-left: 10px;
    background-color: white;
    border-radius: 30%;
    padding: 5px;

}
.city {
    display: inline-block;
    margin-left: 10px;
    color: white;
}
.work {
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    color: white;
}
.master {
    display: inline-block;
    margin-left: 10px;
    color: white;
}
.gear {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-left: 15px;
    margin-top: 15px;
}
.edit {
    display: inline-block;
    color: rgb(69, 133, 216);
    text-decoration: underline rgb(69, 133, 216);
}
.edu {
    width: 400px;
    height: 200px;
    background-color: white;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin: 20px;
    border: 2px solid darkgrey;
    font-family: 'Courier New', Courier, monospace;
}
.head2 {
    width: 400px;
    height: 50px;
    background-color: black;
    display: inline-block;
}
.eduh {
    color: white;
    font-size: 20px;
    display: inline-block;
    margin: 10px;
}
.titleedu {
    display: inline-block;
    font-size: 20px;
    margin: 10px 0px;
}
.date {
    display: inline-block;
    color: grey;
    margin: 5px 10px;
}
.skill {
    display: inline-block;
    font-size: 15px;
    margin: 10px 0px;
}
.connections {
    width: 300px;
    height: 180px;
    background-color: white;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin: 20px;
    border: 2px solid darkgrey;
}
.head3 {
    width: 300px;
    height: 50px;
    background-color: black;
    display: inline-block;
}
.titlel {
    margin: 10px;
    display: inline-block;
    color: white;
}
.row1c {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-direction: row;
    width: 300px;
}
.col1c {
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.photo1 {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-left: 10px;
}
.namec1 {
    font-size: 15px;
    display: inline-block;
    margin: 5px 5px 0px 10px;
}
.check1 {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 3px;
}
.x1 {
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-right: 10px;
}
.row2c {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-direction: row;
    width: 300px;
}
.col1cc {
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.photo2 {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-left: 10px;
}
.namecc1 {
    font-size: 15px;
    display: inline-block;
    margin: 5px 5px 0px 10px;
}
.friends {
    width: 300px;
    height: 370px;
    background-color: black;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin: 20px;
    border: 2px solid darkgrey;
}
.head4 {
    width: 300px;
    height: 50px;
    background-color: white;
    display: inline-block;
}
.conn1 {
    display: inline-block;
    margin: 10px;
    border-radius: 50%;
    padding: 5px;
    background-color: grey;
}
.friendcon {
    display: inline-block;
    margin: 5px;
}
.row1f {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 300px;

}
.photo3 {
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 50%;
    margin: 10px;
}
.namef1 {
    color: white;
    display: inline-block;
    margin-block-start: 20px;
    margin-left: 10px;
}
.row2f {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 300px;
}
.photo4 {
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 50%;
    margin: 10px;
}
.namef2 {
    color: white;
    display: inline-block;
    margin-block-start: 20px;
    margin-left: 10px;
}
.row3f {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 300px;
}
.photo5 {
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 50%;
    margin: 10px;
}
.namef3 {
    color: white;
    display: inline-block;
    margin-block-start: 20px;
    margin-left: 10px;
}
.row4f {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 300px;
}
.photo6 {
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 50%;
    margin: 10px;
}
.namef4 {
    color: white;
    display: inline-block;
    margin-block-start: 20px;
    margin-left: 10px;
} 
.row5f {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 300px;
}
.bottomhead {
    width: 300px;
    height: 50px;
    background-color: white;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid lightgray;
}
.last {
    display: inline-block;
    text-decoration: underline blue;
    margin: 10px;
    color: blue;
}
