.nav {
    font-family: roboto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    background-color: darkgray;

}
.nav-title {
    margin: 20px;
    color: white;
}
.nav-links {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    list-style: none;
    margin-right: 20px;
}
a {
    margin: 20px;
    text-decoration: none;
    color: white;
}
.btn {
    background-color: rgb(65, 65, 175);
    color: white;
    padding: 5px 15px 5px 15px;
    box-shadow: 3px 3px #000000;
    margin-left: 10px;
    border: 2px solid black;
}